.boxes {
  display: flex;
  padding: 1vh;
  font-size: large;
}

.input {
  border: 0px;
  border-radius: 3px;
  margin-left: 2vw;
  height: 5vh;
  width: 15vw;
  font-size: large;
}

.headings {
  padding: 0.8vh 1.2vw;
  border-radius: 3px;
  border: 1px solid black;
}